<div class="card mt-5" style="background-color: #F5F5DC">
  <div class="card-header">Toutes Les Reservations</div>
  <div class="card-body">
    <table class="table table-striped">
      <thead>
      <tr>
        <th scope="col">Numero de Reservation</th>
        <th scope="col">Nom du Livre</th>
        <th scope="col">Auteur</th>
        <th scope="col">Categorie</th>
        <th scope="col">Date D'emprunt</th>
        <th scope="col">Date de Retour</th>
        <th scope="col">Renouvelable</th>
        <th scope="col">Statut de la Reservation</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let booking of bookings">
        <td>{{booking.id}}</td>
        <td>{{booking.book.name}}</td>
        <td>{{booking.book.author}}</td>
        <td>{{booking.book.category}}</td>
        <td>{{booking.borrowingDate}}</td>
        <td>{{booking.returnDate}}</td>
        <td *ngIf="booking.renewable === true"><fa-icon [icon]="faCheck"></fa-icon></td>
        <td *ngIf="booking.renewable === false"><fa-icon [icon]="faTimes"></fa-icon> </td>
        <td>{{booking.status}}</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
