<div class="card mt-5" style="background-color: #F5F5DC">
  <div class="card-header">Reservation</div>
  <div class="card-body">
    <p>Reservation du Livre : {{bookName}} pour une durée d'un mois</p>
<form [formGroup]="bookingForm" (ngSubmit)="onSubmitForm()">
  <div class="form-group">
    <input type="text" class="form-control" id="book" formControlName="book" readonly hidden>
  </div>
  <div class="form-group">
    <input type="text" class="form-control" id="member" formControlName="member" readonly hidden>
  </div>
  <button class="btn border-light" style="background-color: #DBF6C9" type="submit" [disabled]="bookingForm.invalid">Confirmer la Reservation</button>
</form>
  </div>
</div>
