<p>Mes Reservations</p>
<table class="table table-striped">
  <thead>
  <tr>
    <th scope="col">Nom du Livre</th>
    <th scope="col">Auteur</th>
    <th scope="col">Categorie</th>
    <th scope="col">Date D'emprunt</th>
    <th scope="col">Date de Retour</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let book of bookings">
    <td>{{book.book}}</td>
    <td>{{book.member}}</td>
    <td>{{book.category}}</td>
    <td>{{book.borrowingDate}}</td>
    <td>{{book.returnDate}}</td>
  </tr>
  </tbody>
</table>
