<p>Mes Reservations</p>
<table class="table table-striped">
  <thead>
  <tr>
    <th scope="col">Nom du Livre</th>
    <th scope="col">Auteur</th>
    <th scope="col">Categorie</th>
    <th scope="col">Date D'emprunt</th>
    <th scope="col">Date de Retour</th>
    <th scope="col">Renouvelable</th>
    <th scope="col">Statut de la Reservation</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let booking of bookings">
    <td>{{booking.book.name}}</td>
    <td>{{booking.book.author}}</td>
    <td>{{booking.book.category}}</td>
    <td>{{booking.borrowingDate}}</td>
    <td>{{booking.returnDate}}</td>
    <td>{{booking.renewable}}</td>
    <td>{{booking.status}}</td>
  </tr>
  </tbody>
</table>
